.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  color: #333;
  align-items: center;
  font-size: xx-large;
}
img{
  width: 500px;
  width: 600px;
}